### MODULE 4: DATA MANIPULATION WITH PANDAS ###

1. Reading a CSV file (Refer 12. and 13. for operations on csv file)

In [257]:
import pandas as pd
df = pd.read_csv('./data/Pandadata.csv')
print(df.to_string())

   a   b     c
0  1   2   8.0
1  5  10  20.0


OR

In [258]:
import pandas as pd
df = pd.read_csv('./data/Pandadata.csv')
print(df)

   a   b     c
0  1   2   8.0
1  5  10  20.0


2. Creating a dataframe (Check 5. for another method)

In [259]:
import pandas as pd
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0


3. Naming the rows

In [260]:

import pandas as pd
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

4. Storing a dataframe with specified index and columns

In [261]:

import pandas as pd
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]

In [262]:

# with two column indices, the values are  same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])
print(df1)

        a   b
first   1   2
second  5  10

In [263]:
# when the column name is specified is not available, NaN is assigned to the unknown values
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print(df2)

        a  b1
first   1 NaN
second  5 NaN

5. Creating dataframes using series

In [264]:

import pandas as pd
d = {'one': pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two': pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [265]:
# Adding new columns
df["three"] = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print(df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

In [266]:
#Adding columns by performing operations on existing columns
df['four']=df['one']+df['three']
print(df)

   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN


6. Generating random values

In [267]:
import numpy as np
import pandas as pd

#rand(uniform distribution) can also be replaced by randn(non uniform distribution)
s=pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
print(s.index)         #Prints the index values alone
print(s)               #Prints the dataframe
print(s.empty)        #Returns true if the dataframe is empty else returns false

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
a   -0.368969
b    0.020912
c   -1.948516
d    0.672348
e    0.624893
dtype: float64
False

7. Sorting data in dataframes (sorts the index)  (Refer 13. For sorting data in a csv file)

In [268]:

import pandas as pd

#(5,2) indicates 5 rows and 2 columns
unsorted_df=pd.DataFrame(np.random.randn(5,2),  index=[1,4,6,2,3], columns=['Column1', 'Column2'])
print(unsorted_df)

sorted_df=unsorted_df.sort_index()              #the index is sorted
print(sorted_df)

    Column1   Column2
1 -1.098333  0.445552
4 -0.815676 -3.111770
6  0.408023  0.072838
2 -1.199327 -1.436075
3  1.925472  1.677458
    Column1   Column2
1 -1.098333  0.445552
2 -1.199327 -1.436075
3  1.925472  1.677458
4 -0.815676 -3.111770
6  0.408023  0.072838


8. Queries in DataFrames (Printing required values) (refer 15. To print required values from a csv file)

In [269]:

import pandas as pd

df=pd.DataFrame({'a':[1,4,7,2], 'b':[2,0,8,7]})

#get rows where b>4
filtered_df=df.query('b>4')

print('Original DataFrame\n-----------------\n',df)
print('\nFiltered DataFrame\n-----------------\n',filtered_df)

Original DataFrame
-----------------
    a  b
0  1  2
1  4  0
2  7  8
3  2  7

Filtered DataFrame
-----------------
    a  b
2  7  8
3  2  7

In [270]:
#print select columns
a=df.a
print(a)

0    1
1    4
2    7
3    2
Name: a, dtype: int64


9. Printing the number of unique values

In [271]:

import pandas as pd

df=pd.DataFrame({"A":[14,4,5,4,1],
                       "B":[5,2,54,3,2],
                       "C":[20,20,7,3,8],
                       "D":[14,3,6,2,6]})

print(df)

    A   B   C   D
0  14   5  20  14
1   4   2  20   3
2   5  54   7   6
3   4   3   3   2
4   1   2   8   6

In [272]:
#printing unique values
print(df.nunique(axis=1))      #axis = 0 is rows, axis = 1 is columns
#df.A.nunique() gives the number of unique values in A alone

0    3
1    4
2    4
3    3
4    4
dtype: int64

10.  Creating a dataframe using dictionary and finding the max and min values in rows and columns

In [273]:
import pandas as pd

#Creating a dataframe using dictionary

mydictionary={'physics':[68,74,77,78],
              'chemistry':[84,56,73,69],
              'mathematics':[78,88,82,87]}


df_marks=pd.DataFrame(mydictionary)
print('DataFrame\n----------')
print(df_marks)

DataFrame
----------
   physics  chemistry  mathematics
0       68         84           78
1       74         56           88
2       77         73           82
3       78         69           87

In [274]:
#calculate max along row
mx=df_marks.max(axis=1)
print('\nMaximum Value\n------')
print(mx)

Maximum Value
------
0    84
1    88
2    82
3    87
dtype: int64

In [275]:
#calculate max along columns
mx=df_marks.max(axis=0)
print('\nMaximum Value\n------')
print(mx)

Maximum Value
------
physics        78
chemistry      84
mathematics    88
dtype: int64

In [276]:
#calculate min along row
mn=df_marks.min(axis=1)
print('\nMinimum Value\n------')
print(mn)

Minimum Value
------
0    68
1    56
2    73
3    69
dtype: int64

In [277]:
#calculate max along columns
mn=df_marks.min(axis=0)
print('\nMinimum Value\n------')
print(mn)

Minimum Value
------
physics        68
chemistry      56
mathematics    78
dtype: int64

11.  Iteration in dataframes (Printing elements in a desired row)

In [278]:
import pandas as pd

df=pd.DataFrame([['a','b','c'],
                       ['d','e','f'],
                        ['g','h','i'],
                        ['j','k','l']])
print(df)

#point the index to the row that needs to be printed
row=df.iloc[1]                   #index=1 => second row
length=row.size
for i in range(length):
    print(row[i])

   0  1  2
0  a  b  c
1  d  e  f
2  g  h  i
3  j  k  l
d
e
f

12.  Operations on CSV file

In [279]:
import pandas as pd

#change the index_col values to get the mentioned column as the first column
df=pd.read_csv("./data/Pandadata1.csv", index_col=1)

#Everytime the index value is changed, the data is over written in the excel file that is newlysaved
df.to_excel("./data/pdata.xlsx")       #Saves the data as a new excel file
print(df.dtypes)
print(df)

NAME          object
THEORY         int64
PRACTICALS     int64
dtype: object
        NAME  THEORY  PRACTICALS
ROLL NO
1         Aa      97          10
2         Bb      98          10
3         Cc      93          10
4         Dd      94          10
5         Ee      92          98
6         Ff       0           0
7         Gg      97          10
8         Hh      93          10
9         Ii      90          10
10        Jj     100          10
11        Kk      96          10
12        Ll      95          10
13        Mm     100          10
14        Nn      91          10

In [280]:
#To remove the duplicates
print(df.shape)  #Prints the shape of the dataframe before removing the duplicates
df=df.drop_duplicates()  #Columns can be mentioned within the parantheses to remove duplicates in that col umn.Eg: df.drop_duplicates([“THEORY”])
print(df.shape)    #Prints the shape of the dataframe after removing the duplicates
print(df)           #Prints without the duplicates(The last three entries are removed)

(14, 3)
(14, 3)
        NAME  THEORY  PRACTICALS
ROLL NO
1         Aa      97          10
2         Bb      98          10
3         Cc      93          10
4         Dd      94          10
5         Ee      92          98
6         Ff       0           0
7         Gg      97          10
8         Hh      93          10
9         Ii      90          10
10        Jj     100          10
11        Kk      96          10
12        Ll      95          10
13        Mm     100          10
14        Nn      91          10

In [281]:

print(df.info())           #Prints complete information regarding the dataframe

<class 'pandas.core.frame.DataFrame'>
Index: 14 entries, 1 to 14
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   NAME        14 non-null     object
 1   THEORY      14 non-null     int64
 2   PRACTICALS  14 non-null     int64
dtypes: int64(2), object(1)
memory usage: 448.0+ bytes
None

In [282]:
#the head command by default prints the first 5 rows.
#A value has to be mentioned within the head parantheses to print the desired ro ws

print(df.head())
print(df.head(2))

        NAME  THEORY  PRACTICALS
ROLL NO
1         Aa      97          10
2         Bb      98          10
3         Cc      93          10
4         Dd      94          10
5         Ee      92          98
        NAME  THEORY  PRACTICALS
ROLL NO
1         Aa      97          10
2         Bb      98          10

In [283]:
#the tail command by default prints the last 5 rows.
#A value has to be mentioned within the head parentheses to print the desired rows

print(df.tail())
print(df.tail(7))

        NAME  THEORY  PRACTICALS
ROLL NO
10        Jj     100          10
11        Kk      96          10
12        Ll      95          10
13        Mm     100          10
14        Nn      91          10
        NAME  THEORY  PRACTICALS
ROLL NO
8         Hh      93          10
9         Ii      90          10
10        Jj     100          10
11        Kk      96          10
12        Ll      95          10
13        Mm     100          10
14        Nn      91          10

13.  Filtering data from a CSV file (Refer 7. for other sorting operations) (Refer 15. for filters)

In [284]:
import pandas as pd

data=pd.read_csv("./data/Pandadata1.csv")

In [285]:

#sorting dataframe
data.sort_values("NAME",inplace=True)                 #Sorts the specified column

In [286]:

#making boolean series for a name
filter=data["PRACTICALS"]==10

In [287]:

#filtering data
data.where(filter, inplace=True)

In [288]:

print(data)

   NAME  ROLL NO  THEORY  PRACTICALS
0    Aa      1.0    97.0        10.0
1    Bb      2.0    98.0        10.0
2    Cc      3.0    93.0        10.0
3    Dd      4.0    94.0        10.0
4   NaN      NaN     NaN         NaN
5   NaN      NaN     NaN         NaN
6    Gg      7.0    97.0        10.0
7    Hh      8.0    93.0        10.0
8    Ii      9.0    90.0        10.0
9    Jj     10.0   100.0        10.0
10   Kk     11.0    96.0        10.0
11   Ll     12.0    95.0        10.0
12   Mm     13.0   100.0        10.0
13   Nn     14.0    91.0        10.0

14.  Dropping columns from an existing CSV file

In [289]:
import pandas as pd

data=pd.read_csv("./data/Pandadata1.csv", index_col="ROLL NO")
print(data)

        NAME  THEORY  PRACTICALS
ROLL NO
1         Aa      97          10
2         Bb      98          10
3         Cc      93          10
4         Dd      94          10
5         Ee      92          98
6         Ff       0           0
7         Gg      97          10
8         Hh      93          10
9         Ii      90          10
10        Jj     100          10
11        Kk      96          10
12        Ll      95          10
13        Mm     100          10
14        Nn      91          10

In [290]:
# Dropping the passed columns
#["Practicals","Theory] can be used to drop more columns
data.drop(["PRACTICALS"], axis=1, inplace=True)       #axis=1 – Columns
print(data)

        NAME  THEORY
ROLL NO
1         Aa      97
2         Bb      98
3         Cc      93
4         Dd      94
5         Ee      92
6         Ff       0
7         Gg      97
8         Hh      93
9         Ii      90
10        Jj     100
11        Kk      96
12        Ll      95
13        Mm     100
14        Nn      91

In [291]:
#Dropping the passed rows
#[1,2] can be used to drop more rows
data.drop([2], axis=0, inplace=True)   #axis=0 – Rows
print(data)

        NAME  THEORY
ROLL NO
1         Aa      97
3         Cc      93
4         Dd      94
5         Ee      92
6         Ff       0
7         Gg      97
8         Hh      93
9         Ii      90
10        Jj     100
11        Kk      96
12        Ll      95
13        Mm     100
14        Nn      91

15.  Selecting and printing values from a csv file based on conditions (Refer 13. for similar operations)

In [292]:
import pandas as pd

data=pd.read_csv("./data/Pandadata1.csv")
print(data)

   NAME  ROLL NO  THEORY  PRACTICALS
0    Aa        1      97          10
1    Bb        2      98          10
2    Cc        3      93          10
3    Dd        4      94          10
4    Ee        5      92          98
5    Ff        6       0           0
6    Gg        7      97          10
7    Hh        8      93          10
8    Ii        9      90          10
9    Jj       10     100          10
10   Kk       11      96          10
11   Ll       12      95          10
12   Mm       13     100          10
13   Nn       14      91          10

In [293]:

filter=data["THEORY"]>0
print(filter)

0      True
1      True
2      True
3      True
4      True
5     False
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
Name: THEORY, dtype: bool

In [294]:

#Printing a row based on conditions
row=data.loc[data["ROLL NO"]>9]
print(row)

   NAME  ROLL NO  THEORY  PRACTICALS
9    Jj       10     100          10
10   Kk       11      96          10
11   Ll       12      95          10
12   Mm       13     100          10
13   Nn       14      91          10

16.  To find the rank of the dataframe

In [295]:
import pandas as pd

data=pd.read_csv("./data/Pandadata1.csv")
print(data)

   NAME  ROLL NO  THEORY  PRACTICALS
0    Aa        1      97          10
1    Bb        2      98          10
2    Cc        3      93          10
3    Dd        4      94          10
4    Ee        5      92          98
5    Ff        6       0           0
6    Gg        7      97          10
7    Hh        8      93          10
8    Ii        9      90          10
9    Jj       10     100          10
10   Kk       11      96          10
11   Ll       12      95          10
12   Mm       13     100          10
13   Nn       14      91          10

In [296]:
#Returns the rank based on the position
print(data.rank())

    NAME  ROLL NO  THEORY  PRACTICALS
0    1.0      1.0    10.5         7.5
1    2.0      2.0    12.0         7.5
2    3.0      3.0     5.5         7.5
3    4.0      4.0     7.0         7.5
4    5.0      5.0     4.0        14.0
5    6.0      6.0     1.0         1.0
6    7.0      7.0    10.5         7.5
7    8.0      8.0     5.5         7.5
8    9.0      9.0     2.0         7.5
9   10.0     10.0    13.5         7.5
10  11.0     11.0     9.0         7.5
11  12.0     12.0     8.0         7.5
12  13.0     13.0    13.5         7.5
13  14.0     14.0     3.0         7.5

17.  Sorting the index of a csv file

In [297]:
import pandas as pd

df=pd.read_csv("./data/Pandadata1.csv", index_col=2)
sorteddf=df.sort_index()
print(sorteddf)

       NAME  ROLL NO  PRACTICALS
THEORY
0        Ff        6           0
90       Ii        9          10
91       Nn       14          10
92       Ee        5          98
93       Cc        3          10
93       Hh        8          10
94       Dd        4          10
95       Ll       12          10
96       Kk       11          10
97       Aa        1          10
97       Gg        7          10
98       Bb        2          10
100      Jj       10          10
100      Mm       13          10

18.  Finding the count of values

In [298]:
import pandas as pd
df=pd.read_csv("./data/Pandadata1.csv")
print(df)

   NAME  ROLL NO  THEORY  PRACTICALS
0    Aa        1      97          10
1    Bb        2      98          10
2    Cc        3      93          10
3    Dd        4      94          10
4    Ee        5      92          98
5    Ff        6       0           0
6    Gg        7      97          10
7    Hh        8      93          10
8    Ii        9      90          10
9    Jj       10     100          10
10   Kk       11      96          10
11   Ll       12      95          10
12   Mm       13     100          10
13   Nn       14      91          10

In [299]:
#counts the number of same rows in a dataframe
count=df.value_counts()
print(count)

NAME  ROLL NO  THEORY  PRACTICALS
Aa    1        97      10            1
Bb    2        98      10            1
Cc    3        93      10            1
Dd    4        94      10            1
Ee    5        92      98            1
Ff    6        0       0             1
Gg    7        97      10            1
Hh    8        93      10            1
Ii    9        90      10            1
Jj    10       100     10            1
Kk    11       96      10            1
Ll    12       95      10            1
Mm    13       100     10            1
Nn    14       91      10            1
Name: count, dtype: int64

In [300]:
#Specify the column name to count the number of values used in the column
count1=df.PRACTICALS.value_counts()
print(count1)

PRACTICALS
10    12
98     1
0      1
Name: count, dtype: int64

19.  Renaming the columns

In [301]:
import pandas as pd
df=pd.read_csv("./data/Pandadata1.csv")

#Can rename multiple columns at once
df=df.rename(columns={'ROLL NO':'REGISTER NO', 'PRACTICALS':'INTERNALS'})
print(df)

   NAME  REGISTER NO  THEORY  INTERNALS
0    Aa            1      97         10
1    Bb            2      98         10
2    Cc            3      93         10
3    Dd            4      94         10
4    Ee            5      92         98
5    Ff            6       0          0
6    Gg            7      97         10
7    Hh            8      93         10
8    Ii            9      90         10
9    Jj           10     100         10
10   Kk           11      96         10
11   Ll           12      95         10
12   Mm           13     100         10
13   Nn           14      91         10